[project]
	description = Excalibur
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/arrowrowe (arrowrowe)
[access "refs/for/refs/*"]
	read = group user/arrowrowe (arrowrowe)
	push = group user/arrowrowe (arrowrowe)
	label-Code-Review = -2..+2 group user/arrowrowe (arrowrowe)
	label-Verified = -1..+1 group user/arrowrowe (arrowrowe)
	rebase = group user/arrowrowe (arrowrowe)
	removeReviewer = group user/arrowrowe (arrowrowe)
	submit = group user/arrowrowe (arrowrowe)
[access "refs/heads/*"]
	read = group user/arrowrowe (arrowrowe)
	create = group user/arrowrowe (arrowrowe)
	push = +force group user/arrowrowe (arrowrowe)
	pushMerge = group user/arrowrowe (arrowrowe)
[access "refs/tags/*"]
	push = +force group user/arrowrowe (arrowrowe)
	pushTag = group user/arrowrowe (arrowrowe)
	pushSignedTag = group user/arrowrowe (arrowrowe)
